#body-content {
  padding-bottom: 4rem;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #e66076;
}

nav .sidenav-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border-radius: 8px;
  -webkit-box-shadow: 2px 1px 15px rgba(32, 27, 27, 0.178);
          box-shadow: 2px 1px 15px rgba(32, 27, 27, 0.178);
  width: 200px;
}

.card .card-image img {
  border-radius: 8px 8px 0 0;
}

.card .halfway-fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-floating i {
  font-size: 1.3rem;
}

.sidenav-overlay {
  z-index: auto;
}

.brand-logo {
  height: 100%;
}

.brand-logo .inner-nav-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more {
  display: block;
}

.standing-container .standing-table {
  width: 100%;
}

.standing-container .standing-table th,
.standing-container .standing-table td {
  padding-left: 2rem;
  padding-right: 2rem;
}

.home-wrapper .home-header {
  background-image: url("/assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}

.home-wrapper .home-header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 15, 15, 0.349);
}

.home-wrapper .home-header .header-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home-wrapper .home-header .header-content h2 {
  margin-top: 0;
}

.home-wrapper .home-fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background-color: #e7e7e7;
  border-radius: 20px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.home-wrapper .home-fav .home-fav-item {
  width: 35%;
  padding: 2rem 1rem;
  margin-top: -2rem;
}

.home-wrapper .home-fav .home-fav-item img {
  width: 100%;
  max-width: 160px;
}

.home-wrapper .home-fav .home-fav-item p {
  margin-bottom: 0;
}

.home-wrapper .home-fav .no-fav {
  width: 80%;
}

.home-wrapper .home-fav .no-fav h5 {
  margin: 0;
}

.teams-container .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.teams-container .card .team-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams-container .card .team-title img {
  width: 100px;
  margin-right: 4rem;
}

.teams-container .card .fav-action {
  width: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 601px) {
  .teams-container .card .team-title img {
    margin-right: 2rem;
  }
  .standing-container .standing-table th,
  .standing-container .standing-table td {
    padding: 16px 9px;
  }
}

@media only screen and (min-width: 993px) {
  .home-wrapper .home-header .header-content {
    width: 35%;
  }
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90vh;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #e66076;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e66076 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */